{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- End google font -->

    <!-- Bootstrap CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

</head>
<body>
    <div>
        <h1 class="lato-black heading">Random Counter</h1>
    </div>

    <div>
        <div class="alert alert-success alert-dismissible fade show success-alert" role="alert">
            <strong>Welcome to the Random Counter! &nbsp; </strong> Things that once were & things that have yet come to pass.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    </div>

    <br>

    <div>
        <div class="card counter-box" style="width: 45rem;">
            <img src="{% static 'img/Effiel-Tower.jpg' %}" class="card-img-top" alt="Effiel Tower image is supposed to be here... If not, someone didnt do their job correctly">
            <div class="card-body">
              <p class="card-text counter-text">The Eiffel tower was started:&nbsp;<strong>January 26, 1887&nbsp;</strong> & completed&nbsp;<strong>March 31, 1889</strong> </p>  
              <br>
              <h3 class="counter-text google-font-700-i" id="clock-timer-h3">12:12:12</h3>
            </div>
          </div>
    </div>
    
    
    <script src="{% static 'js/counter.js' %}"></script>

    <!-- Bootstrap JS from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
